# Application
APP_SECRET=f9956d43913faed3ea4bb17555c9f654
APP_WEB_URL=http://localhost:3000
process.env.APP_API_URL=http://localhost:3333

# Mail
MAIL_DRIVER=ethereal

# AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Storage
STORAGE_DRIVER=disk

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=

